* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

:root {
    font-size: 16px;

    --primary: #70a1ff;
    --primary-dark: #1e90ff;

    --success: #7bed9f;
    --success-dark: #2ed573;

    --danger: #ff6b81;
    --danger-dark: #ff4757;

    --warning: #eccc68;
    --warning-dark: #ffa502;

    --dark: #2f3542;

    --light: #dfe4ea;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

.lead {
    font-size: 1.125rem;
}

small {
    font-size: 0.75rem;
}
