:root {
    font-size: 16px;
    --primary: #70a1ff;
    --primary-dark: #1e90ff;
    --primary-light: #a7c6ff;
    --success: #7bed9f;
    --success-dark: #2ed573;
    --success-darker: rgb(108, 163, 131);
    --danger: #ff6b81;
    --danger-dark: #ff4757;
    --warning: #eccc68;
    --warning-dark: #ffa502;
    --dark: #2f3542;
    --light: #dfe4ea;
}

* {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    font-weight: normal;
    color: var(--dark);
    box-sizing: border-box;
}

code {
    font-family: "Courier New", Courier, monospace;
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2.25rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.5rem;
}

h6,
.h6 {
    font-size: 1.25rem;
}

b,
.bold {
    font-weight: bold;
}

.lead {
    font-size: 1.125rem;
}

small,
.small {
    font-size: 0.75rem;
}

button {
    --normal-color: var(--light);
    --active-color: var(--dark);
    padding: 0.375rem 0.5rem;
    color: var(--normal-color);
    border-radius: 10px;
    border: 1px var(--normal-color) solid;
    background: none;
    transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

button:hover,
button:active {
    color: var(--active-color);
    background: var(--normal-color);
    cursor: pointer;
}

.button-group button {
    border-radius: 0;
    margin: 0 -2.5px;
}

.button-group button:first-of-type {
    border-radius: 10px 0 0 10px;
}

.button-group button:last-of-type {
    border-radius: 0 10px 10px 0;
}

.selectable:hover {
    cursor: pointer;
}

.unhighlightable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
